@import 'reset.scss';
body {
    font-family: "inter";
   
}
.wrapper {
    min-height: 100%;
    overflow: clip;
    display: flex;
    flex-direction: column;
}
.wrapper>.page {
    flex-grow: 1;
}

[class*="__container"] {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.page {

    // .page__intro

    

.intro {
    padding: 80px 0;
    // .intro__container

    &__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 35px;
        @media (max-width: 860px) {
            grid-template-columns: 1fr;
        }
        @media (max-width: 560px) {
            gap: 20px;
        }
    }

    // .intro__item

    &__item {
        position: relative;
        min-height: 230px;
        overflow: hidden;
        @media (max-width: 560px) {
            min-height: 180px;
        }
        // .intro__item_big

        &_big {
            grid-row: 1 / 3;
            min-height: 490px;
            @media (max-width: 560px) {
                min-height: 380px;
            }
        }
    }

    // .intro__link

    &__link {
        display: block;
        position: absolute;
        overflow: hidden;
        width: 100%;
        height: 100%;
        &:hover {
            img {
                transform: scale(1.06);
            }
        }
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.5s;
        }
    }

    // .intro__label

    &__label {
        position: relative;
        z-index: 2;
        padding: 40px 40px 12px 40px;
        color: #637381;
        font-weight: 600;
        font-size: 16px;
        line-height: 1.5;
        @media (max-width: 991.98px) {
            font-size: 14px;
            padding-left: 20px;
        }
    }

    // .intro__title

    &__title {
        position: relative;
        z-index: 2;
        margin-left: 40px;
        max-width: 380px;
        font-weight: 600;
        font-size: 28px;
        line-height: 1.2;
        @media (max-width: 991.98px) {
            font-size: 24px;
            margin-left: 20px;
        }
        @media (max-width: 450px) {
            font-size: 18px;
            max-width: 280px;
        }
    }
}

   

}
.page {

    // .page__product

    &__product {
    }
}
.product {
    background: #FAFAFA;
    padding: 120px 0;
    // .product__container
    @media (max-width: 992px) {
        padding: 80px 0;
    }
    @media (max-width: 600px) {
        padding: 50px 0;
    }

    &__container {
    }

    // .product__text

    &__text {
        display: flex;
        flex-direction: column;
        
        align-items: center;
        gap: 15px;
        &:not(:last-child) {
            margin-bottom: 70px;
        }
    }

    // .product__title

    &__title {
        font-size: 40px;
        line-height: 1.1;
        font-weight: 700;
        color: #212B36;
      
    }

    // .product__subtitle

    &__subtitle {
        max-width: 500px;
        font-size: 16px;
        line-height: 1.5;
        font-weight: 500;
        color: #637381;
    }

    // .product__cover

    &__cover {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        &:not(:last-child) {
            margin-bottom: 40px;
        }
        @media (max-width: 1100px) {
            gap: 10px
        }
        @media (max-width: 925px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: 625px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    // .product__item

    &__item {
        border-radius: 7px;
        border:  1px solid #E7E7E7;
        overflow: hidden;
    }

    // .product__action

    &__action {
        display: flex;
        justify-content: center;
    }

    // .product__buttons

    &__buttons {
        display: inline-block;
        
        padding: 6px;
        border-radius: 23px;
        background: #ffffff;
    }

    // .product__button

    &__button {
        display: inline-block;
        width: 30px;
        height: 30px;
        border-radius: 50%;

        // .product__button_white

        &_white {
            border: 1px solid #E7E7E7;
            position: relative;
            transition: 0.3s;
            &:hover {
                background: #ddd7d7;
                &::after {
                    transform: scale(1.1);
                }
            }
            &::after {
                content: '';
                position: absolute;
                top: 10px;
                left: 8px;
                width: 12px;
                transition: 0.3s;
                height: 10px;
                background: url('../img/products/arrow-gray.svg') no-repeat;
            }
        }

        // .product__button_blue

        &_blue {
            background: #3056D3;
            position: relative;
            transition: 0.3s ;
            &:hover {
                background: #426bf1;
                &::after {
                    transform: scale(1.1);
                }
            }
            &::after {
                content: '';
                position: absolute;
                top: 11px;
                left: 9px;
                width: 12px;
                height: 10px;
                transition: 0.3s;
                background: url('../img/products/arrow-white.svg') no-repeat;

            }
        }
    }
}
.item-product {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: #637381;

    // .item-product__image

    &__image {
        overflow: hidden;
    }

    // .item-product__link

    &__link {
        position: relative;
        display: block;
        padding-bottom: 78.8%;
        &:hover {
            img {
                transform: scale(1.05);
            }
        }
        & img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.5s;
        }
    }

    // .item-product__top

    &__top {
        padding: 25px 10px 25px 25px;
        border-bottom:  1px solid #E7E7E7;
        @media (max-width: 992px) {
            padding: 20px 10px 20px 20px;
        }
    }

    // .item-product__title

    &__title {
        font-weight: 600;
        font-size: 20px;
        line-height: 1.2;
        color: #212B36;
        &:not(:last-child) {
            margin-bottom: 15px;
        }
    }

    // .item-product__text

    &__text {
    }

    // .item-product__bottom

    &__bottom {
        display: flex;
        align-items: center;
       
    }

    // .item-product__rate

    &__rate {
        padding: 15px 20px 15px 25px;
        display: flex;
        align-items: center;
        flex: 0 0 77%;
        border-right: 1px solid #E7E7E7;
        @media (max-width: 1100px) {
            padding: 15px 5px;
        }
    }

    // .item-product__price

    &__price {
        color: #212B36;
        font-weight: 600;
        text-align: end;
        flex: 0 0 20%;
        padding: 15px 20px;
        @media (max-width: 1100px) {
            padding: 15px 5px;
        }
    }
}
.rate {

    // .rate__mark

    &__mark {
        font-size: 22px;
        &::after {
            content: '\2606';
        }
        
        color: #FFA645;
        
    }

    // .rate__link

    &__link {
        padding: 7px;
        transition: color 0.3s;
        &:hover {
            color: #99afc2;
        }
    }
}
.checked {
    &::after {
        content: '\2605';
    }
    
    color: #FFA645;
}


.page {

    // .page__trend

    &__trend {
    }
}
.trend {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #637381;
    padding: 100px 0;
    // .trend__container
    @media (max-width: 992px) {
        padding: 80px 0;
    }
    @media (max-width: 660px) {
        padding: 50px 0;
    }
    &__container {
    }

    // .trend__text

    &__text {
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
        &:not(:last-child) {
            margin-bottom: 70px;
        }
    }

    // .trend__title

    &__title {
        font-size: 40px;
        line-height: 1.2;
        font-weight: 700;
        color: #212B36;
        text-align: center;
    }

    // .trend__subtitle

    &__subtitle {
        max-width: 500px;
        text-align: center;
    }

    // .trend__items

    &__items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        @media (max-width: 992px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: 660px) {
            grid-template-columns: 1fr;
        }
    }

    // .trend__item

    &__item {
        padding: 25px 25px 40px 25px;
        border: 0.5px solid #E7E7E7;
    }
}
.item-trend {

    // .item-trend__image

    &__image {
        border-radius: 6px;
        overflow: hidden;
        &:not(:last-child) {
            margin-bottom: 24px;
        }
    }

    // .item-trend__link

    &__link {
        position: relative;
        display: block;
        padding-bottom: 76.47%;

        &:hover {
            img {
                transform: scale(1.05);
            }
        }
        & img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.5s;
        }
    }

    // .item-trend__body

    &__body {
    }

    // .item-trend__price

    &__price {
        font-weight: 600;
        font-size: 20px;
        line-height: 1.2;
        color: #212B36;
        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    // .item-trend__title

    &__title {
        font-weight: 600;
        font-size: 24px;
        line-height: 1.2;
        color: #212B36;
        padding-bottom: 8px;
    }

    // .item-trend__rate

    &__rate {
    }
}
.rate {

    // .rate__mark

    &__mark {
    }

    // .rate__link

    &__link {
    }
}
.checked {
}

.page {

    // .page__design

    &__design {
    }
}
.design {

    // .design__container

    &__container {
        max-width: 1230px;
       font-family: "Poppins";
       font-size: 18px;
       line-height: 1.6;
       font-weight: 400;
       color: #9C9C9C;
        // .design__container_big

        &_big {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 32px;
        }
    }

    // .design__text

    &__text {
        
        padding: 5px;
        & p {
            &:not(:last-child) {
                margin-bottom: 30px;
            }
        }
    }

    // .design__

    &__ {

        // .design___title

        &title {
            font-weight: 600;
            font-size: 24px;
            line-height: 1.5;
            color: #333333;
            &:not(:last-child){
                margin-bottom: 24px;
            }
        }
    }

    // .design__author

    &__author {
        padding-top: 30px;
        display: flex;
        gap: 80px;
    }

    // .design__link

    &__link {
        transition: color 0.3s;
        &:hover {
            color: #d6d6d6;
        }
    }

    // .design__image

    &__image {
        position: relative;
        overflow: hidden;
        & a {
            display: block;
            padding-bottom: 87.8%;
            transition: transform 0.5s ;
            &:hover {
                transform: scale(1.1);
            }
            & img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                
            }
        }

        // .design__image_big

        &_big {
            grid-column: 1 / 3;
            & a {
                padding-bottom: 42.75%;
            }
        }
    }
}
