
@import url(reset.css);



.wrapper {
    min-height: 100%;
    overflow: clip;
    background: gray;
}

[class*='__container'] {
    max-width: 1200px;
    padding: 50px 15px;
    margin: 0 auto;
    perspective: 500px;
}
.page {
}
.page__scale {
}
.scale {
}
.page__container {
}
.page__link {
    display: inline-block;
    padding: 5px 50px;
    background: rgb(173, 255, 47);
    border-radius: 5px;
    margin-bottom: 100px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.9),
                5px 5px 15px rgba(173, 255, 47, 0.7),
                10px 10px 35px rgba(173, 255, 47, 0.5);
}

.page__link:hover {
    background: rgb(132, 196, 37);
    box-shadow:  5px 5px 15px rgba(173, 255, 47, 0.9),
                10px 10px 35px rgba(173, 255, 47, 0.5);
}
.page__link:not(:last-child) {
    margin-right: 50px;
}

.page__block {
    width: 200px;
    height: 200px;
   
    
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
}
.scale-block {
    transition: 5s ease 0.2s;
    background-color: green;
}
.scale-1:hover ~ .scale-block {
    transform: scale(1.2);
}
.scale-2:hover ~ .scale-block {
    transform: scale(0.2);
}
.scale-3:hover ~ .scale-block {
    transform: scale(1, 0);
}
.scale-4:hover ~ .scale-block {
    transform: scale(-1, -1);
}
.scale-5:hover ~ .scale-block {
    transform: scale(-1, 1);
}



.page__translate {
}
.page__container {
}
.page__link {
}
.translate-1 {
}
.translate-2 {
}
.translate-3 {
}
.translate-4 {
}
.translate-5 {
}
.page__block {
}
.translate-block {
    background: rebeccapurple;
    transition: 0.8s ease;
}


.translate-1:hover ~ .translate-block {
    transform: translate(100px, 50px);
}
.translate-2:hover ~ .translate-block {
    transform: translate(-100px, 50px);
}
.translate-3:hover ~ .translate-block {
    transform: translate(100px, 10px);
}
.translate-4:hover ~ .translate-block {
    transform: translate(20px, 100px);
}
.translate-5:hover ~ .translate-block {
    transform: translate(-100px, -100px);
}




.page__skew {
}
.page__container {
}
.page__link {
}
.skew-1 {
}
.skew-2 {
}
.skew-3 {
}
.skew-4 {
}
.skew-5 {
}
.page__block {
}
.skew-block {
    background: gold;
    transition: 0.5s ease-in-out 0.2s;
}

.skew-1:hover ~ .skew-block {
    transform: skew(15deg, 45deg);
}
.skew-2:hover ~ .skew-block {
    transform: skew(-25deg, 15deg);
}
.skew-3:hover ~ .skew-block {
    transform: skew(25deg, 25deg);
}
.skew-4:hover ~ .skew-block {
    transform: skew(45deg, -45deg);
}
.skew-5:hover ~ .skew-block {
    transform: skew(50deg, 0deg);
}



.page__rotate {
}
.page__container {
}
.page__link {
}
.rotate-1 {
}
.rotate-2 {
}
.rotate-3 {
}
.rotate-4 {
}
.rotate-5 {
}
.page__block {
}
.rotate-block {
    background-color: aquamarine;
    transition: 0.9s ease-out 0.1s;
}
.rotate-1:hover ~ .rotate-block {
    transform: rotate(45deg);
}
.rotate-2:hover ~ .rotate-block {
    transform: rotate(360deg);
}
.rotate-3:hover ~ .rotate-block {
    transform: rotate(-45deg);
}
.rotate-4:hover ~ .rotate-block {
    transform: rotate(180deg);
}
.rotate-5:hover ~ .rotate-block {
    transform: rotate(-270deg);
}





.page__matrix {
}
.page__container {
}
.page__link {
}
.matrix-1 {
}
.matrix-2 {
}
.matrix-3 {
}
.matrix-4 {
}
.matrix-5 {
}
.page__block {
}
.matrix-block {
    transition: 0.2s ease-out 0.1s;
    background-color: yellowgreen;
}
.matrix-1:hover ~ .matrix-block {
    transform: matrix(1, 0, 0, 2, 50, 0);
}
.matrix-2:hover ~ .matrix-block {
    transform: matrix(0, 1, 1, 0, 0, 1);
}
.matrix-3:hover ~ .matrix-block {
    transform: matrix(1, 2, 1, 0, -50, 1);
}
.matrix-4:hover ~ .matrix-block {
    transform: matrix(1, 1,1, 2, 150, 0);
}
.matrix-5:hover ~ .matrix-block {
    transform: matrix(0, 1, 1, 1, 100, 0);
}





.page__multi {
}
.page__container {
}
.page__link {
}
.multi-1 {
}
.multi-2 {
}
.multi-3 {
}
.multi-4 {
}
.multi-5 {
}
.page__block {
}
.multi-block {
    background-color: silver;
    transition: 1.5s ease-out 0.3s;
}

.multi-1:hover ~ .multi-block {
    transform: rotate(45deg) translate(20px, -100px);
}
.multi-2:hover ~ .multi-block {
    transform: rotate(360deg) skew(45deg, 20deg);
}
.multi-3:hover ~ .multi-block {
    transform: rotate(-45deg) skew(25deg, -75deg) translate(40px);
}
.multi-4:hover ~ .multi-block {
    transform: skew(45deg, 20deg) rotate(180deg) scale(1.2);
}
.multi-5:hover ~ .multi-block {
    transform: rotate(-270deg) scale(0.2);
}


.page__3d {
}
.page__container {
}
.page__link {
}
.three-D-1 {
}
.three-D-2 {
}
.three-D-3 {
}
.three-D-4 {
}
.three-D-5 {
}
.page__block {
}
.three-D-block {
    background-color: blueviolet;
    transition: 1.5s ease-in-out 0.3s;
}

.three-D-1:hover ~ .three-D-block {
    transform: translate3d(50px, -50px, 100px);
}
.three-D-2:hover ~ .three-D-block {
    transform: scale3d(0.5, -1, 2);
}
.three-D-3:hover ~ .three-D-block {
    transform: rotate3d(1, 0, 1, 180deg);
}
.three-D-4:hover ~ .three-D-block {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 6, 0, 0, 0, 1, 0, 50, 100, 0, 1.1) 
}
.three-D-5:hover ~ .three-D-block {
    transform:  translate3d(20px, 120px, 20px) rotate3d(1, 1, 1, 180deg);;
}


.page__transform-origin {
}
.page__container {
}
.page__link {
}
.transform-origin-1 {
}
.transform-origin-2 {
}
.transform-origin-3 {
}
.transform-origin-4 {
}
.transform-origin-5 {
}
.page__block {
    
}
.transform-origin-block {
    background-color: goldenrod;
    transform-origin: bottom;
    transition: 0.5s ease-out 0.3s;
}


.transform-origin-1:hover ~ .transform-origin-block {
    transform: translate(20px, -100px);
}
.transform-origin-2:hover ~ .transform-origin-block {
    transform: scale(1.5);
}
.transform-origin-3:hover ~ .transform-origin-block {
    transform: rotate(-45deg);
}
.transform-origin-4:hover ~ .transform-origin-block {
    transform: skew(45deg, 20deg);
}
.transform-origin-5:hover ~ .transform-origin-block {
    transform: rotate(-270deg) scale(0.2);
}





.page__car {
    height: 100vh;
}
.car {
}
.car__wrapper {
    position: relative;
    bottom: 0;
    width: 500px;
    animation: car-move 20s infinite linear;
    
}
.car__body {
    position: relative;
    width: 500px;
    height: 200px;
    background-color: green;
    border-radius: 20px 200px 50px 20px;
    transform: skew(25deg, 25deg) rotate(-25deg) translateX(-50px);
    overflow: hidden;
    
    
}
.car__body::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background-color: aqua;
    height: 100px;
    width: 200px;
}

.car__wheel {
    position: absolute;
    
    border-radius: 50%;
    background-color: darkolivegreen;
    border:  10px dashed black;
    animation: rotate  3s infinite linear;
}
.forward_wheel {
    width: 100px;
    height: 100px;
    top: 90%;
    left: 65%;
}
.backward_wheel {
    top: 70%;
    left: 0%;
    width: 150px;
    height: 150px;
    
}

@keyframes rotate  {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


@keyframes car-move  {
    0% {
        left: -120%;
        transform: scale( 1, 1 );
    }
    40% {
        left: 120%;
        transform: scale( 1, 1 );
    }
    50% {
        left: 120%;
        transform: scale( -1, 1 );
    }
    100% {
        
        left: -30%;
        transform: scale( -1, 1 );
    }
        
}
