@import url(reset.css);


.main-page {
}
.block-1 {
    font-family: 'Poppins';
    min-height: 800px;
    background: url('../img/block-1/bg.jpg') bottom /  cover no-repeat;
    padding-top: 27%;
    padding-bottom: 100px;
}
.block-1__container {
    max-width: 1270px;
    padding: 0 30px;
    margin: 0 auto;
}
.block-1-content {
    max-width: 605px;

}
.block-1-content *:not(:last-child)
{
    margin-bottom: 15px;
}
.date {
    display: inline-block;
    font-size: 12px;
    font-weight: 300;
    color: #e5e5e5;
    line-height: 1.66;
    
}
.title {
    font-weight: 700;
    font-size: 25px;
    line-height: 1.6;
    color: #f8f9fa;
    
}
.block-1-content p{
    font-size: 12px;
    font-weight: 300;
    line-height: 1.66;
    color: #e5e5e5;
}




.block-2 {
    font-family: 'Inter';
    background-color: #F4F7FF;
    text-shadow: 5px 5px 5px rgb(0, 0, 0);
    background: url('../img/block-2/Group\ 1000004061.svg') 90% 0 no-repeat ;
}
.block-2__container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 138px  15px 151px;
    
}
.block-2-content {
    display: inline-block;
    max-width: 570px;
    margin-right: 179px;
    padding-top: 60px;
}
.lable {
    color: #3056D3;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
    margin-bottom: 13px;
}
.block-2-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.25;
    color: #212b36;
    margin-bottom: 15px;
}
.block-2-content p{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #637381;
    margin-bottom: 35px;
} 
.button {
    display: inline-block;
    padding: 10px 30px;
    background: #3056D3;
    color: #ffffff;
    border-radius: 30px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    text-shadow: none;
    transition: 0.1s ease-in-out;
}
.button:hover {
    background: #0d2f9e;
    transform: scale(1.1);
    box-shadow: 10px 10px 20px black;
}

.block-3 {
}
.block-3__container {
    margin: 0 auto;
    max-width: 1200px;
}
.block-3-title {
    font-weight: 400;
    font-size: 26px;
    line-height: 1.2;
    color: #212b36;
    margin-bottom: 45px;
}
.block-3-content {
}
.block-3-content ul:not(:last-child){
    margin-bottom: 60px;
}
.list {
    font-weight: 700;
    font-size: 16px;
    line-height: 0.9;
    color: #637381;
    
}
.list li{
    min-height: 20px;
    padding-bottom: 5px;
}
.list li:not(:last-child){
    margin-bottom: 20px;
}
.list-1 li::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    background: url('../img/block-3/01.png')0 0/ auto  no-repeat;
    margin-right: 10px;
   
}

.list-2 {
}
.list-2 li::before {
    vertical-align: middle;
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url('../img/block-3/02.png') 0 0 no-repeat;
    margin-right: 10px;
}
.list-3 {
}
.list-3 li::before {
    vertical-align: middle;
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url('../img/block-3/03.png') center no-repeat;
    margin-right: 10px;
}
.list-4 {
}
.list-4 li::before {
    vertical-align: middle;
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url('../img/block-3/04.png') center no-repeat;
    margin-right: 10px;
}
.list-5 {
}
.list-5 li::before {
    vertical-align: middle;
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url('../img/block-3/05.png') center no-repeat;
    margin-right: 10px;
}
.list-6 {
}
.list-6 li::before {
    vertical-align: middle;
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url('../img/block-3/06.png') center no-repeat;
    margin-right: 10px;
}

li:hover{
    text-decoration: underline;
}
.list li:hover::before {
	transform: rotate(-90deg) scale(1.1);
}
