@import url(reset.css);

.main {
    
    font-family: 'Poppins';
}
.text-block {
    margin: 80px auto;
    max-width: 816px;
    
}
.title {
    font-weight: 700;
    font-size: 25px;
    line-height: 1.6;
    color: #212529;    
    margin: 40px 0;
}
.title-1 {
    max-width: 400px;
}

.title-2 {
    max-width: 605px;
}
.text-block p {
    font-weight: 300;
    font-size: 14px;
    line-height: 1.8;
    color: rgb(108, 117, 125);
    margin-top: 40px;
}
.image-block {
    margin: 0px auto;
    max-width: 1240px;
    
}
.image-block img {
    border-radius: 5px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3),
                50px 50px 80px rgba(0, 0, 0, 0.5);
}
.image-block-2 {
    max-width: 1275px;
}
.image-block-2  img {   
    
    margin: 0 15px;
}
.links-list {
    margin: 0 auto;
    max-width: 1240px;
}
.list {
    font-size: 0px;
    text-align: center;
}
.link {
    display: inline;
    font-size: 24px;
    background-color: greenyellow;
    padding: 20px;
    border-radius: 5px;
}
.list a {
    display: inline-block;
    padding: 10px;
    background-color: aqua;
    border-radius: 5px;
}